body{
    background: url(https://th.bing.com/th/id/R.ead49ca9260f0607b14d8d82ff3002dc?rik=S7TFB9fniEiWaQ&pid=ImgRaw&r=0);
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
}